.ContactsList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactsListTable {
  width: 80%;
  text-align: left;
  border-radius: 4px;
}

.ContactsListTableHeader {
  width: 100%;
  border: 1.5px #e4e7f0 solid;
  border-bottom: 0;
  display: grid;
  grid-template-columns: 12px 36px 35% 35% auto;
  font-size: 12px;
  height: 28px;
  font-weight: 700;
}

.ContactListTableHeader__Name {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  align-items: center;
}

.ContactListTableHeader__Email {
  grid-column-start: 4;
  grid-column-end: 5;
  display: flex;
  align-items: center;
}

.ContactListTableHeader__Organization {
  grid-column-start: 5;
  display: flex;
  align-items: center;
}

.Contact:last-child {
  border-bottom: 1.5px #e4e7f0 solid;
}
